<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    {% if title %}
        <title>FlaskTodo | {{ title }}</title>
    {% else %}
        <title>FlaskTodo</title>
    {% endif %}
</head>
<body>
    <div class="content">
        <h1 style="text-align: center;">Task Master</h1>
    </div>
    {% block body %}
    {% endblock body %}
</body>
</html>